<header class="columns pt-5 px-5 pb-3">
  <div class="column is-two-thirds m-5">
    <h1 class="logo">
      <a href="/">Orissa Jenkins</a>
    </h1>
  </div>
  <div class="nav column is-one-third m-5">
    <nav>
      <ul class="is-flex is-flex-direction-row">
        <li class="m-3">
          {% if page.url != "/about.html" %}
            <a href="/" class="active">Work</a>
          {% else %}
            <a href="/">Work</a>
          {% endif %}
        </li>
        <li class="m-3">
          {% if page.url == "/about.html" %}
            <a href="/about" class="active">About</a>
          {% else %}
            <a href="/about">About</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>
