---
layout: base
---

<section class="section">
  <div class="container">
    <div class="fixed-grid has-3-cols">
      <div class="grid">
        {% assign pis_by_order = site.portfolio_items | sort: "order" %}
        {% for pi in pis_by_order %}
          <div class="cell">
            <a href="{{pi.url}}">
              <img src="/images/{{pi.directory}}/cover.jpg" alt="{{pi.name}}" />
              <div class="has-text-centered mt-2">{{pi.name}}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
